# Copy this file to backup.cfg and adapt settings according to your needs.


# BACKUP

# Paths to back up. These will be passed to the backup tool as they are,
# so please use absolute paths. Don't specify btrfs subvolumes here.
SOURCES=(
  "/etc"
  "/var/log"
)

# Btrfs subvolumes to back up.
# A read-only snapshot will be created of each subvolume and bind-mounted
# to a directory named like the last path component of the subvolume.
# For instance, "/home/myuser" will be mounted to the temporary directory
# "myuser". And that is the name the contents of "/home/myuser" will end
# up under in the backup archive. A special case is "/", which will be
# mounted into "root".
# If you don't use Btrfs, simply leave this array empty or comment it out.
BTRFS_SOURCES=(
  "/home"
)


# BACKUP TOOL
#
# Available choices: borg, restic
#
# You only need to configure the settings for the particular backup tool
# you choose.
BACKUP_TOOL=borg


# BORG OPTIONS

# The borg repository. This will be passed to borg directly as is.
BORG_REPO="user@backup_host:borg"

# Additional options you want to pass to the "borg create" command.
BORG_CREATE_OPTS="--exclude-caches --keep-tag-files --exclude-if-present .nobackup"

# Options you want to pass to the "borg prune" command. Configure your
# retention policy here.
BORG_PRUNE_OPTS="--keep-daily 7 --keep-weekly 12 --keep-monthly 12 --keep-yearly 2"

# Additional options you want to pass to the "borg init" command.
BORG_INIT_OPTS=""


# RESTIC OPTIONS

# The restic repository. This will be passed to restic as $RESTIC_REPOSITORY.
RESTIC_REPO="sftp://user@backup_host/restic"

# Additional options you want to pass to the "restic backup" command.
RESTIC_BACKUP_OPTS="--exclude-caches --exclude-if-present .nobackup"

# Options you want to pass to the "restic forget" command. Configure your
# retention policy here.
RESTIC_FORGET_OPTS="--keep-daily 7 --keep-weekly 12 --keep-monthly 12 --keep-yearly 2"

# Additional options you want to pass to the "restic init" command.
RESTIC_INIT_OPTS=""


# CRONTAB

# Configure how often you want to take backups. This is used e.g. by
# the cronjob to determine how often to run.
# You may set one or more of these settings. All configured JOB_INTERVAL_*
# settings will be added together in order to calculate the desired
# interval. If you enable all three sample lines below, a backup would
# be taken every 2 days, 12 hours, 30 minutes.
# Backwrap can also deal with systems like notebooks that aren't on
# 24/7. It is always tried to align as closely as permitted by system
# uptime with the configured schedule.
#JOB_INTERVAL_DAYS=2
#JOB_INTERVAL_HOURS=12
#JOB_INTERVAL_MINUTES=30


# SPECIAL FILES

# There are two special files that, if they exist, are considered.
# Let's assume the config file is called "/etc/backup.cfg", then the
# script will look fo the following additional files in "/etc".
# - backup.cfg.exclude: A list of paths to exclude, will be passed as
#   the exclude file to the backup tool.
# - backup.cfg.passphrase: A file containing the passphrase for the
#   repository.
